<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav shadow border-0" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item [matTooltip]="!isExpanded ? 'Menu' : null" matTooltipPosition="right"
        (click)="isExpanded = !isExpanded" class="d-none d-lg-block menu-text">
        <mat-icon mat-list-icon>menu</mat-icon>
        <h4 mat-line *ngIf="isExpanded">MENU</h4>
      </a>
      <ul>
        <li *ngFor="let menuItem of menus" class="nav-sidebar_dropdown" [ngClass]="{'active': menuItem.active }">
          <a mat-list-item [matTooltip]="!isExpanded ? menuItem.heading : null" matTooltipPosition="right"
            class="menu-text" [routerLink]="'/'+menuItem.link" routerLinkActive="active">
            <mat-icon matListIcon>{{menuItem.icon}}</mat-icon>
            <span *ngIf="isExpanded" class="pl-3">{{menuItem.heading | uppercase}}</span>
          </a>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{'ml-md-6' : !isExpanded}">
    <div class="bg-white d-flex p-3 shadow align-items-center position-fixed w-100 top-nav">
      <button class="mr-4" type="button" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle(); isExpanded = true" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="../../../assets/angular.svg" alt="Angular Todo" class="img-fluid logo-ht ml-sm-5">
      <span class="font-weight-bold ml-3">Angular 8 Todos App</span>
    </div>
    <div class="container custom-wrapper bg-light">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
